
<div id="rdiv-main-outlet-bottom" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">main-outlet-bottom</span>
</div>
