
<div id="rdiv-topic-navigation" class="r-activate rdiv-topic-navigation" 
   data-useContext="topic-navigation" 
   data-pageContext="topic" 
   data-id="{{topic.id}}"  
   data-name="{{topic.title}}" 
   >
   <i id="rdiv-topic-navigation-icon" class="fa-sharp fa-solid fa-gear fa-lg"></i>
   <span>Topic Navigation</span>
</div>


