
<div id="rdiv-topic-navigation" class="r-activate tooltip rdiv-topic-navigation" 
   data-useContext="topic-navigation" 
   data-pageContext="topic" 
   data-id="{{topic.id}}"  
   data-name="{{topic.title}}" 
   style="width: 35px; height:15px; margin-right:20px; display: flex; justify-content: center; align-items: center;">
   <i style="width: 22px; height:12px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">topic-navigation  ID: {{topic.id}}</span>
</div>


