<div style="display: flex; flex-direction: row; align-items: center;"> 
    <span id="rdiv-topic-category" class="r-activate rdiv-topic-category" 
    data-useContext="topic-category" 
    data-pageContext="topic" 
    data-id="{{topic.category.id}}"  
    data-name="{{topic.category.name}}" >
        <i id="rdiv-topic-category-icon" class="fa-sharp fa-solid fa-network-wired fa-lg"></i>
    </span>

    <span id="rdiv-topic-category-topic" class="r-activate rdiv-topic-category" 
    data-useContext="topic-category-topic" 
    data-pageContext="topic" 
    data-id="{{topic.id}}"  
    data-name="{{topic.title}}" >
        <i id="rdiv-topic-category-topic-icon" class="fa-sharp fa-solid fa-book-open fa-lg"></i>
    </span>
</div> 