
 
<div id="rdiv-topic-category" class="r-activate tooltip rdiv-topic-category" 
   data-useContext="topic-category" 
   data-type="topic" 
   style="width: 35px; height:15px; margin-right:20px; display: flex; justify-content: center; align-items: center;">
   <i style="width: 22px; height:12px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">topic-category  ID: {{topic.category.id}}</span>
</div>
