
<div id="rdiv-category-navigation" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">category-navigation</span>
</div>
