
<div id="rdiv-after-create-topic-button" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">after-create-topic-button</span>
</div>
 