
<!-- This shows how to add custom divs in placeholders, without using scripts   style="display: none;"  -->
<div id="rdiv-before-header-panel" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">before-header-panel</span>
</div>

