
<!-- This shows how to add custom divs in placeholders, without using scripts   style="display: none;"  -->
<div id="rdiv-above-site-header" class="nodisplay alert alert-info"><i class="fa-solid fa-globe"></i></div>
