
<div id="rdiv-bread-crumbs-left" class="tooltip r-activate"      
   data-useContext="bread-crumbs-left" 
   data-pageContext="category" 
   data-id="{{category.id}}"  
   data-name="{{category.name}}" 
>
   <i style="width: 22px; height:22px; color: darkblue;" class="fa-sharp fa-solid fa-gear"></i>
   <span class="tooltiptext">bread-crumbs-left  ID: {{category.id}}</span>
</div>


