
<div id="rdiv-bread-crumbs-left" class="tooltip r-activate"      
   data-useContext="bread-crumbs-left" 
   data-pageContext="category" 
   data-id="{{category.id}}"  
   data-name="{{category.name}}" 
>
   <i id="rdiv-bread-crumbs-left-icon" class="fa-sharp fa-solid fa-network-wired fa-2x"></i>

</div>


