
<div id="rdiv-discovery-list-controls-below" class="tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">discovery-list-controls-below</span>
</div>
