

<div id="rdiv-category-title-before" class="r-activate tooltip rdiv-category-title-before" 
   data-id="{{category.id}}"  
   data-name="{{category.name}}" 
   data-useContext="category-title-before" 
   data-type="category" 
   style="width: 35px; height:15px; margin-right:20px; display: flex; justify-content: center; align-items: center;">
   <i style="width: 32px; height:12px;" class="fa-sharp fa-solid fa-gear"></i>
   <span class="tooltiptext">category-title-before  ID: {{category.id}}</span>
</div>
