
<div id="rdiv-bread-crumbs-right" class="tooltip r-activate"      
   data-useContext="bread-crumbs-right" 
   data-pageContext="category" 
   data-id="{{category.id}}"  
   data-name="{{category.name}}" 
>
   <i style="width: 45px; height:15px;" class="fa-sharp fa-solid fa-gear"></i>
   <span class="tooltiptext">bread-crumbs-right  ID: {{category.id}}</span>
</div>

