
<div id="rdiv-bread-crumbs-right" class="tooltip r-activate"      
   data-id="{{id}}"  
   data-name="{{model:category}}" 
   data-useContext="bread-crumbs-right" 
   data-type="category" 
>
   <i style="width: 45px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">bread-crumbs-right  ID: {{id}}  or {{category.id}}</span>
</div>

