
<div id="rdiv-timeline-controls-before" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">timeline-controls-before</span>
</div>
