
<div id="rdiv-above-main-container" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">above-main-container</span>
</div>
 