
<div id="rdiv-after-topic-footer-buttons" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>  [ note - we can add a whole section of html here ]
   <span class="tooltiptext">after-topic-footer-buttons</span>
</div>
