
<div id="rdiv-after-topic-footer-buttons" class="tooltip">
   <i id="rdiv-after-topic-footer-buttons-icon" class="fa-sharp fa-solid fa-globe fa-lg"></i>  
   <span class="tooltiptext">after-topic-footer-buttons</span>
</div>

