
<div id="rdiv-topic-footer-main-buttons-before-create" class="nodisplay tooltip">
   <i style="width: 15px; height:15px;" class="fa-sharp fa-solid fa-globe"></i>
   <span class="tooltiptext">topic-footer-main-buttons-before-create</span>
</div>
