
 <div id="rdiv-before-create-topic-button" class="r-activate tooltip rdiv-before-create-topic-button" 
   data-useContext="before-create-topic-button" 
   data-pageContext="category" 
   data-id="{{category.id}}"  
   data-name="{{category.name}}" 
   style="width: 22px; height:15px; margin-right:20px; display: flex; justify-content: center; align-items: center;">
   <i style="width: 22px; height:22px; color: darkblue;" class="fa-sharp fa-solid fa-gear"></i>
   <span class="tooltiptext">before-create-topic-button  ID: {{category.id}}</span>
</div>


